.transactions__container__list__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1032px;
  min-width: 608px;
  flex: 1;
  gap: .5rem;
  margin: auto;
}

.transactions__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1032px;
  min-width: 608px;
  gap: 2rem;
  margin: auto;
  flex: 1;
}

.transactions__header__day__container {
  display: flex;
  justify-content: space-between;
}

.transactions__card {
  display: flex;
  border: 1px solid #DEE4E9;
  padding: 2rem 1rem;
  border-radius: 16px;
}

.transactions__line {
  border-right: 1px solid #DEE4E9;
  height: 16px;
  width: 33px;
}

.text__header {
  font-size: .75rem;
  color: var(--color-black);
}

.text__table__body {
  font-size: 1rem;
  width: 100%;
  color: var(--text-default);
}

.text__table__body.DEBIT {
  color: var(--text-black);
}

.text__table__body.CREDIT {
  color: var(--text-accent);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.transactions__container__filter__transaction {
  padding: .5rem 0 1rem;
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 1;
}
.transactions__container__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  border-radius: .5rem;
  border: 1px solid var(--color-light-gray);
}

.text__empty {
  font-size: 1.125rem;
  color: var(--color-gray);
}
