.button__comp {
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button__comp__primary {
  background-color: var(--custom-color-black);
  color: var(--custom-color-white);
}

.button__comp__secondary {
  background-color: var(--custom-color-lighter-gray);
  color: var(--custom-color-black);
}

.button__comp__outline {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.button__comp__outline__white {
  background-color: transparent;
  border: 1px solid var(--custom-color-white);
  color: var(--custom-color-white);
}

.button__comp__default {
  background-color: var(--custom-color-black);
  color: var(--custom-color-white);
}

.button__comp__danger {
  background-color: var(--custom-color-error);
  color: var(--custom-color-white);
}

.button__comp__success {
  background-color: var(--custom-color-success);
  color: var(--custom-color-white);
}

.button__comp__brand {
  background-color: var(--custom-dark-main);
  color: var(--custom-color-white);
}

.button__comp__brand__outline {
  background-color: transparent;
  color: var(--custom-dark-main);
  border: 1px solid var(--custom-dark-main);
}

.button__comp:hover {
  opacity: 0.9;
}

.button__comp__outline:hover {
  background-color: var(--color-primary);
  color: var(--custom-color-white);
}

.rounded__full {
  border-radius: 9999px;
}
