.page__description {
  width: 100%;
  max-width: 550px;
  display: block;
  font-weight: 300;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.4em;
  color: var(--custom-color-gray);
  margin: 15px auto;
}
