.login__container {
  width: calc(100% - 50px);
  max-width: 674px;
  margin: 0 auto;
  padding: 97px 87px 87px;
  border-radius: 0 0 16px 16px;
  background-color: var(--color-dark-main);
}

.login__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
  color: var(--color-white);
  margin-top: 84px;
}

.login__input,
.login__button {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 16px;
  border-radius: 16px;
}

.login__input {
  background-color: var(--color-lighter-gray);
  height: 64px;
}

.login__input.error {
  border: 1px solid var(--color-error);
}

.login__input__container {
  display: flex;
  flex-direction: column;
}

.login__error {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-light-gray);
  margin-top: 8px;
}

.login__form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-main);
  line-height: 24px;
  font-weight: 700;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
