.login__container {
  width: calc(100% - 50px);
  max-width: 674px;
  margin: 0 auto;
  padding: 97px 87px 87px;
  border-radius: 0 0 16px 16px;
  background-color: var(--custom-dark-main);
}

.login__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
  color: var(var(--custom-color-white));
  margin-top: 84px;
}

.login__button {
  width: 100%;
  font-size: 16px;
  padding: 20px 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--custom-dark-main);
  line-height: 24px;
  font-weight: 700;
}

.login__inputs__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login__form__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.login__container__logo {
  width: 160px;
}
