.todo__list {
  width: 100%;
  list-style: none;
  border-radius: 5px;
  border: 1px solid var(--custom-color-light-gray);
  background-color: rgba(0, 0, 0, 0.01);
}

.todo__item__container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: .5rem;
}

.todo__item__container:not(:last-child) {
  border-bottom: 1px solid var(--custom-color-light-gray);
}

.todo__item__title {
  font-size: 1.125rem;
  line-height: 1em;
}

.todo__item__content {
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: column;
  gap: .625rem;
}

.todo__item__header {
  display: flex;
  gap: .875em;
}

.todo__item__status {
  font-size: 0.625rem;
  font-weight: 700;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  text-transform: uppercase;
  height: 1.375rem;
}

.todo__item__status.pending {
  color: var(--custom-color-error);
  border-color: var(--custom-color-error);
}

.todo__item__status.done {
  color: var(--custom-color-success);
  border-color: var(--custom-color-success);
}

.todo__item__description {
  font-size: 1rem;
  line-height: 1.3em;
  color: var(--custom-color-gray);
}

.todo__item__links__container {
  width: 100%;
  text-align: left;
}

.todo__item_link {
  display: inline-block;
  font-size: .875em;
  padding-right: 7px;
  color: var(--custom-link-color);
  text-decoration: underline;
}

.todo__item__actions__container {
  display: flex;
  gap: .5rem;
}

.todo__item__action {
  display: inline-block;
  font-size: .75rem;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--custom-color-dark-main);
  border: 1px solid var(--custom-color-dark-main);
  background-color: transparent;
}

.todo__list__empty {
  display: block;
  font-size: 1rem;
  padding: 15px;
  color: var(--custom-color-gray);
  text-align: center;
}
